.apartment-details-banner {
  height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.692)),
    url("../../images/banner-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
}
.apartment-details-banner h1{
   line-height: 30vh;
}
form input{
    font-family: "Montserrat", sans-serif;
    font-size: 15px !important;
    font-weight: 500 !important;
}

.property-details h5{
  font-size: 18px;
  font-weight: 400;
}